
/*html{
    border: 2px red solid;
}
*/
body{
    background-color: lightcoral;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    background-color: lightsteelblue;
    font-family: 'Courier New', Courier, monospace;
    color: blue;

}
ul{
    color: rgb(137, 235, 72);
    font-size: medium;
}
img{
    height: 200px;
    width: 200px;
}
.horizontal{
    display:flex;
    align-items: center;
    
}
.horizontal li {
    margin: 10px;

}
.horizontal a {
    display:block;
    padding: 20px;    
    text-align: center;
}